@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

#navbar {
  text-align: center;
  background-color: #D9B4A7;
  padding: 15px 0;
  margin-bottom: 50px;
}

#navbar h1 {
  text-transform: uppercase;
  color: #A6375F;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  background-color: #D9B4A7;
  margin: 0 auto;
  border-radius: 20px;
}

.container_textarea {
  width: 100%;
  height: 250px;
  resize: none;
  border-radius: 10px;
  border: 1px solid#dbae9d;
  padding: 5px 0 0 5px;
  font-family: 'Nunito', sans-serif;
}

.container_info {
  display: flex;
}

.container_info--left,
.container_info--right {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-end;
  padding: 20px;
}

.container_label {
  text-align: center;
  margin: 20px 0;
  color: #A6375F;
  font-weight: 600;
}

input {
  width: 200px;
  padding: 8px 0;
  border: 1px solid #616060;
  border-radius: 5px;
  border: 1px solid#dbae9d;
}

.btn_container {
  width: 100px;
  padding: 8px 0;
  margin: 30px 8px;
  border-radius: 5px;
  border: 1px solid #a8335e;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #A6375F;
  color: #fff;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
}

.btn_container:hover {
  background-color: #92224b;
  border: 1px solid #911a46;
}

a {
  text-decoration: none;
  color: #A6375F;
  font-weight: 600;
  font-size: 14px;
}

a:hover {
  color: #a71a4e;
}

p {
  text-align: center;
  margin-top: 30px;
}
